.homeThumbnail-Container {
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;
    background-color: red;
}

.homeThumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.homeThumbnail-Overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.homeThumbnail-Text {
    flex-grow: 1;
    margin-left: 0.5rem;
}