.filterScrollbar {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.filterScrollbar-Scroll {
    height: calc(100% - 2rem);
    padding-bottom: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.filterGrid {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.8rem;
    justify-items: center;
    color: var(--color4);
}

.filterGrid-Title {
    font-weight:bold;
    font-size: 22px;
}

.divider {
    height: 0.2%;
    width: 90%;
    background-color: var(--color5);
    margin: 10px 5%;
    border-radius: 8px;
}