.homeContent {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.homeContent-Scroll {
    height: calc(100% - 2rem);
    overflow-y: auto;
    padding: 1rem;
}

.homeContent-Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.grid-item {
    border: none;
    padding: 0.1rem;
    overflow: hidden;
    object-fit: contain;
}