.header {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.logo-container {
    position: absolute;
    height: 75%;
    width: 5%;
    border: none;
    outline: none;
    margin-left: 3.75%;
    background-color: transparent;
    cursor: pointer;
}

.logo {
    align-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-container {
    position: absolute;
    aspect-ratio: 1 / 1;
    height: 75%;
    width: auto;
    margin-left: 0.75%;
    border-radius: 50%;
    border: none;
    outline: none;
    filter: invert(100%);
    cursor: pointer;
    background-color: transparent;
}

.menu-container:hover {
    background-color: white;
}

.menu-icon {
    align-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search-container {
    position: absolute;
    height: 50%;
    width: 28%;
    left: 36%;
    align-content: center;
    background-color: var(--color1);
    border-color: var(--color3);
    border-style: solid;
    border-radius: 20px;
    border-width: medium;
    overflow: hidden;
}

.search-bar {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--color4);
    text-indent: 10px;
}

.search-bar::placeholder {
    color: #c9c9c9;
}

.search-bar-icon-container {
    position: absolute;
    height: 100%;
    right: 0%;
    background-color: var(--color3);
    border: none;
    outline: none;
    cursor: pointer;
}

.search-bar-icon {
    width: 95%;
    height: 95%;
    align-content: center;
    object-fit: contain;
}