:root {
    --color1: #181818; /*Border Color*/
    --color2: #212121; /*Base Color*/
    --color3: #3d3d3d; /*Child Color*/
    --color4: #ffffff; /*Text Color*/
    --color5: #aaaaaa; /*Frame Color*/
}
